<h1 style="white"><%= image_tag "img.png", class: "navbar-brand" %><center><strong>Tiki Bar Cocktails</strong></h1></center>
<div class="banner">
  <%= image_tag "logo.jpg", class: "banner-image" %>
    <div class="container">
      <div class="banner-text" style="float: left; width: 50%">
          <h1>Get creative and become a mixologist for a night</h1><br>
          <h2>Make your own cocktails!</h2>
          <p>Add ingredients you like</p>
        <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-primary"  %><br>
      </div>
    </div>
</div>
<div class="container">
  <center><h2>Cocktail menu</h2></center>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-md-6 col-lg-3">
       <% if cocktail.photo.attached? %>
          <% background_url = cl_image_path cocktail.photo.key, width: 200, height: 200, crop: :fill %>
        <% else %>
          <% background_url = 'https://source.unsplash.com/500x400/?cocktail' %>
        <% end %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= background_url %>');">
          <div class="card-description">
            <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3><br>
            <%= link_to "EditðŸ“", cocktail_path(cocktail) %>
            <%= link_to "DeleteðŸ—‘", cocktail, method: :delete, data: {confirm: "Are you sure?"} %>
         </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <div class="footer">
    <p>Follow us on</p>
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
        <a href="#"><i class="fab fa-facebook"></i> Facebook</a>
      </div>
  </div>
