<div>
  <div class="container">
    <h2><%= @cocktail.name %></h2><br>
  </div>
</div>

<% @cocktail.doses.each do |dose| %>
  <%= dose.description %>
  <%= dose.ingredient.name %>
<% end %><br>
<br>
<%= link_to 'Add a new dose', new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %><br>
<br>
<div class="link">
  <%= link_to "◀️ Back", root_path  %><br>
</div>
<!-- #retrive all doses of the cocktail
for each dose display the description of the dose
display the name of the related ingredient -->
